<div id="<%= dom_id post %>" class="container-fluid mb-2">
  <h3 class="row"><%= post.title %></h3>

  <div class="row">
    <p class="text-muted">
      Authored <%= post.created_at.strftime('%r %x') %> by <%= post.user.name %> | <%= link_to 'See more', post, class: 'text-success' %>
    </p>
  </div>

  <div class="row">
    <%= post.body %>
  </div>
</div>
