<div id="<%= dom_id post %>" class="border-bottom border-primary p-2 mb-3">
  <h2><%= post.title %></h2>
  <p class="text-muted">Authored by <%= post.user&.name %> on <%= post.created_at.strftime '%x %r' %></p>

  <%= post.body %>
</div>
