<!DOCTYPE html>
<html>
  <head>
    <title>Yarb</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>

	<script type="text/javascript" defer>
		var toastElList = [].slice.call(document.querySelectorAll('.toast'))
		var toastList = toastElList.map(function (toastEl) {
		  return new bootstrap.Toast(toastEl, option)
		})
	</script>
  </head>

  <body class="container-fluid">
    <div class="container">
    <!-- todo: fix indenting -->
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
      <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none fs-2">
        <i class="bi bi-gem text-danger"></i>
      </a>

      <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
        <li><a href="<%= root_url %>" class="nav-link px-2 link-secondary">Home</a></li>
        <li><a href="<%= users_url %>" class="nav-link px-2 link-dark">Users</a></li>
        <li><a href="<%= posts_url %>" class="nav-link px-2 link-dark">Posts</a></li>
        <li><a href="<%= pages_readme_url %>" class="nav-link px-2 link-dark">Readme</a></li>
        <li><a href="<%= pages_server_url %>" class="nav-link px-2 link-dark">Server</a></li>
      </ul>

      <div class="col-md-3 text-end">
        <% if user_signed_in? %>
		  <%= link_to "Sign-out", destroy_user_session_url, method: :delete, class: "btn btn-outline-danger me-2" %>
		  <%= link_to "Profile", current_user, class: "btn btn-success" %>
        <% else %>
          <a href="<%= new_user_session_url %>" role="button" class="btn btn-outline-primary me-2">Login</a>
          <a href="<%= new_user_registration_url %>" role="button" class="btn btn-primary">Sign-up</a>
        <% end %>
      </div>
    </header>
    </div>

	<div class="container">
      <%= yield %>
    </div>

	<div id="toasts" class="toast-container position-fixed bottom-0 end-0 p-3" style="z-index: 10">
	  <% flash.each do |header, message| %>
		<%= render "shared/toast", title: header, message: message %>
	  <% end %>
	</div>

  </body>
</html>

